body {
    background: #000;
    color: aliceblue;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.mohavedark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

main {
    font-family: Consolas, "Andale Mono", monospace;
    font-weight: bolder;
    font-size: 15px;
    color: #dbdbdb;
    letter-spacing: 1em;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    z-index: 1; /* Ensures text appears above the image */
}

i.icon {
    cursor: pointer;
    margin-top: 20px;
    font-size: 24px;
    color: aliceblue;
    z-index: 1;
}
